<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>adminservlets.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MsgAll</servlet-name>
        <servlet-class>adminservlets_messages.MsgAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MsgRead</servlet-name>
        <servlet-class>adminservlets_messages.MsgRead</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MsgUnread</servlet-name>
        <servlet-class>adminservlets_messages.MsgUnread</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockedAds</servlet-name>
        <servlet-class>adminservlets.BlockedAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewAds</servlet-name>
        <servlet-class>adminservlets_ads.ReviewAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReports</servlet-name>
        <servlet-class>adminservlets_reports.ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataCountsXML</servlet-name>
        <servlet-class>adminservlets_XML.DataCountsXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MsgXML</servlet-name>
        <servlet-class>adminservlets_XML.MsgXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomDataXML</servlet-name>
        <servlet-class>adminservlets_XML.CustomDataXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResult</servlet-name>
        <servlet-class>adminservlets.SearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPassXML</servlet-name>
        <servlet-class>adminservlets_XML.CheckPassXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConversationXML</servlet-name>
        <servlet-class>adminservlets_XML.ConversationXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdReviewAction</servlet-name>
        <servlet-class>adminservlets.AdReviewAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemReport</servlet-name>
        <servlet-class>adminservlets.ItemReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminClass_BlockedItems</servlet-name>
        <servlet-class>classes.AdminClass_BlockedItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInterfaces</servlet-name>
        <servlet-class>adminservlets_interfaces.UpdateInterfaces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSliderItems</servlet-name>
        <servlet-class>adminservlets_interfaces.GetSliderItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>adminservlets_login.CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLogout</servlet-name>
        <servlet-class>adminservlets_login.CheckLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUpdate</servlet-name>
        <servlet-class>adminservlets_login.LoginUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginChange</servlet-name>
        <servlet-class>adminservlets_login.LoginChange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdBlocked_ViewReports</servlet-name>
        <servlet-class>adminservlets_reports.AdBlocked_ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBlocked_ViewReports</servlet-name>
        <servlet-class>adminservlets_reports.UserBlocked_ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Removed_ViewReports</servlet-name>
        <servlet-class>adminservlets_reports.Removed_ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageBlocked_ViewReports</servlet-name>
        <servlet-class>adminservlets_reports.MessageBlocked_ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageUBlocked_ViewReports</servlet-name>
        <servlet-class>adminservlets_reports.MessageUBlocked_ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InquiryBlocked_ViewReports</servlet-name>
        <servlet-class>adminservlets_reports.InquiryBlocked_ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InquiryUBlocked_ViewReports</servlet-name>
        <servlet-class>adminservlets_reports.InquiryUBlocked_ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Appr_ReviewAds</servlet-name>
        <servlet-class>adminservlets_ads.Appr_ReviewAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Apr_ReviewAds</servlet-name>
        <servlet-class>adminservlets_ads.Apr_ReviewAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mod_ReviewAds</servlet-name>
        <servlet-class>adminservlets_ads.Mod_ReviewAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rmv_ReviewAds</servlet-name>
        <servlet-class>adminservlets_ads.Rmv_ReviewAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MRemoved_ViewReports</servlet-name>
        <servlet-class>adminservlets_reports.MRemoved_ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IRemoved_ViewReports</servlet-name>
        <servlet-class>adminservlets_reports.IRemoved_ViewReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>adminservlets.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMessageXML</servlet-name>
        <servlet-class>adminservlets_XML.DeleteMessageXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessageXML</servlet-name>
        <servlet-class>adminservlets_XML.SendMessageXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteConversationXML</servlet-name>
        <servlet-class>adminservlets_XML.DeleteConversationXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBlacklistXML</servlet-name>
        <servlet-class>adminservlets_XML.UserBlacklistXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkAsReadXML</servlet-name>
        <servlet-class>adminservlets_XML.MarkAsReadXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MsgUserBlacklist</servlet-name>
        <servlet-class>adminservlets_messages.MsgUserBlacklist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MsgBlacklistUser</servlet-name>
        <servlet-class>adminservlets_messages.MsgBlacklistUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlacklistedUsers</servlet-name>
        <servlet-class>adminservlets.BlacklistedUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBlacklistJson</servlet-name>
        <servlet-class>adminservlets_Json.UserBlacklistJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Apr_ReviewAdsJson</servlet-name>
        <servlet-class>adminservlets_ads.Apr_ReviewAdsJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mod_ReviewAdsJson</servlet-name>
        <servlet-class>adminservlets_ads.Mod_ReviewAdsJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Load_ReviewAdsJson</servlet-name>
        <servlet-class>adminservlets_ads.Load_ReviewAdsJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rmv_ReviewAdsJson</servlet-name>
        <servlet-class>adminservlets_ads.Rmv_ReviewAdsJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Load_BlacklistUsersJson</servlet-name>
        <servlet-class>adminservlets_Json.Load_BlacklistUsersJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAdReports</servlet-name>
        <servlet-class>adminservlets_reports.LoadAdReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockAdJson</servlet-name>
        <servlet-class>adminservlets_reports.BlockAdJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockAdUserJson</servlet-name>
        <servlet-class>adminservlets_reports.BlockAdUserJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAdReportJson</servlet-name>
        <servlet-class>adminservlets_reports.RemoveAdReportJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadReportCountJson</servlet-name>
        <servlet-class>adminservlets_reports.LoadReportCountJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockMessageJson</servlet-name>
        <servlet-class>adminservlets_reports.BlockMessageJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockMessageUserJson</servlet-name>
        <servlet-class>adminservlets_reports.BlockMessageUserJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveMessageReportJson</servlet-name>
        <servlet-class>adminservlets_reports.RemoveMessageReportJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMessageReports</servlet-name>
        <servlet-class>adminservlets_reports.LoadMessageReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockInquiryJson</servlet-name>
        <servlet-class>adminservlets_reports.BlockInquiryJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockInquiryUser</servlet-name>
        <servlet-class>adminservlets_reports.BlockInquiryUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveInquiryReportJson</servlet-name>
        <servlet-class>adminservlets_reports.RemoveInquiryReportJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadInquiryReports</servlet-name>
        <servlet-class>adminservlets_reports.LoadInquiryReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPassJson</servlet-name>
        <servlet-class>adminservlets_Json.CheckPassJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomDataJson</servlet-name>
        <servlet-class>adminservlets_Json.CustomDataJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomDataAdsJson</servlet-name>
        <servlet-class>adminservlets_Json.CustomDataAdsJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomDataUserJson</servlet-name>
        <servlet-class>adminservlets_Json.CustomDataUserJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CutomDataUserJson</servlet-name>
        <servlet-class>adminservlets_Json.CutomDataUserJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataCountsJson</servlet-name>
        <servlet-class>adminservlets_Json.DataCountsJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailedViewJson</servlet-name>
        <servlet-class>adminservlets_Json.DetailedViewJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MsgJson</servlet-name>
        <servlet-class>adminservlets_Json.MsgJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStateJson</servlet-name>
        <servlet-class>adminservlets_Json.UpdateStateJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStateJson</servlet-name>
        <servlet-class>adminservlets_Json.GetStateJson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsgAll</servlet-name>
        <url-pattern>/MsgAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsgRead</servlet-name>
        <url-pattern>/MsgRead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsgUnread</servlet-name>
        <url-pattern>/MsgUnread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockedAds</servlet-name>
        <url-pattern>/BlockedAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewAds</servlet-name>
        <url-pattern>/ReviewAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReports</servlet-name>
        <url-pattern>/ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataCountsXML</servlet-name>
        <url-pattern>/DataCountsXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsgXML</servlet-name>
        <url-pattern>/MsgXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomDataXML</servlet-name>
        <url-pattern>/CustomDataXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResult</servlet-name>
        <url-pattern>/SearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConversationXML</servlet-name>
        <url-pattern>/ConversationXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdReviewAction</servlet-name>
        <url-pattern>/AdReviewAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemReport</servlet-name>
        <url-pattern>/ItemReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminClass_BlockedItems</servlet-name>
        <url-pattern>/AdminClass_BlockedItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInterfaces</servlet-name>
        <url-pattern>/UpdateInterfaces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSliderItems</servlet-name>
        <url-pattern>/GetSliderItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLogout</servlet-name>
        <url-pattern>/CheckLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUpdate</servlet-name>
        <url-pattern>/LoginUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginChange</servlet-name>
        <url-pattern>/LoginChange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdBlocked_ViewReports</servlet-name>
        <url-pattern>/AdBlocked_ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBlocked_ViewReports</servlet-name>
        <url-pattern>/UserBlocked_ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Removed_ViewReports</servlet-name>
        <url-pattern>/Removed_ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageBlocked_ViewReports</servlet-name>
        <url-pattern>/MessageBlocked_ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageUBlocked_ViewReports</servlet-name>
        <url-pattern>/MessageUBlocked_ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InquiryBlocked_ViewReports</servlet-name>
        <url-pattern>/InquiryBlocked_ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InquiryUBlocked_ViewReports</servlet-name>
        <url-pattern>/InquiryUBlocked_ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Appr_ReviewAds</servlet-name>
        <url-pattern>/Appr_ReviewAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Apr_ReviewAds</servlet-name>
        <url-pattern>/Apr_ReviewAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mod_ReviewAds</servlet-name>
        <url-pattern>/Mod_ReviewAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rmv_ReviewAds</servlet-name>
        <url-pattern>/Rmv_ReviewAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MRemoved_ViewReports</servlet-name>
        <url-pattern>/MRemoved_ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IRemoved_ViewReports</servlet-name>
        <url-pattern>/IRemoved_ViewReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMessageXML</servlet-name>
        <url-pattern>/DeleteMessageXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessageXML</servlet-name>
        <url-pattern>/SendMessageXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteConversationXML</servlet-name>
        <url-pattern>/DeleteConversationXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBlacklistXML</servlet-name>
        <url-pattern>/UserBlacklistXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkAsReadXML</servlet-name>
        <url-pattern>/MarkAsReadXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsgUserBlacklist</servlet-name>
        <url-pattern>/MsgUserBlacklist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsgBlacklistUser</servlet-name>
        <url-pattern>/MsgBlacklistUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlacklistedUsers</servlet-name>
        <url-pattern>/BlacklistedUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBlacklistJson</servlet-name>
        <url-pattern>/UserBlacklistJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Apr_ReviewAdsJson</servlet-name>
        <url-pattern>/Apr_ReviewAdsJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mod_ReviewAdsJson</servlet-name>
        <url-pattern>/Mod_ReviewAdsJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Load_ReviewAdsJson</servlet-name>
        <url-pattern>/Load_ReviewAdsJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rmv_ReviewAdsJson</servlet-name>
        <url-pattern>/Rmv_ReviewAdsJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Load_BlacklistUsersJson</servlet-name>
        <url-pattern>/Load_BlacklistUsersJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAdReports</servlet-name>
        <url-pattern>/LoadAdReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockAdJson</servlet-name>
        <url-pattern>/BlockAdJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockAdUserJson</servlet-name>
        <url-pattern>/BlockAdUserJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAdReportJson</servlet-name>
        <url-pattern>/RemoveAdReportJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadReportCountJson</servlet-name>
        <url-pattern>/LoadReportCountJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockMessageJson</servlet-name>
        <url-pattern>/BlockMessageJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockMessageUserJson</servlet-name>
        <url-pattern>/BlockMessageUserJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveMessageReportJson</servlet-name>
        <url-pattern>/RemoveMessageReportJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMessageReports</servlet-name>
        <url-pattern>/LoadMessageReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockInquiryJson</servlet-name>
        <url-pattern>/BlockInquiryJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockInquiryUser</servlet-name>
        <url-pattern>/BlockInquiryUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveInquiryReportJson</servlet-name>
        <url-pattern>/RemoveInquiryReportJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadInquiryReports</servlet-name>
        <url-pattern>/LoadInquiryReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPassJson</servlet-name>
        <url-pattern>/CheckPassJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomDataJson</servlet-name>
        <url-pattern>/CustomDataJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomDataAdsJson</servlet-name>
        <url-pattern>/CustomDataAdsJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomDataUserJson</servlet-name>
        <url-pattern>/CustomDataUserJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CutomDataUserJson</servlet-name>
        <url-pattern>/CutomDataUserJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataCountsJson</servlet-name>
        <url-pattern>/DataCountsJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailedViewJson</servlet-name>
        <url-pattern>/DetailedViewJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsgJson</servlet-name>
        <url-pattern>/MsgJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStateJson</servlet-name>
        <url-pattern>/UpdateStateJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStateJson</servlet-name>
        <url-pattern>/GetStateJson</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
</web-app>
